<h1 class="text-center my-4">Pokémon--Hub</h1>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= form_with url: root_path, method: :get, local: true, class: 'd-flex' do |form| %>
        <%= hidden_field_tag :type, params[:type] if params[:type].present? %>
        <%= form.text_field :search, class: 'form-control me-2', placeholder: 'Search Pokémon...', style: 'width: 200px;' %>
        <%= form.submit 'Search', class: 'btn btn-outline-success' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_with url: root_path, method: :get, local: true, class: 'd-flex align-items-center' do |form| %>
        <%= hidden_field_tag :type, params[:type] if params[:type].present? %>
        <%= form.label :sort, 'Sort by:', class: 'me-2 mb-0', style: 'margin-left: 10px;' %>
        <%= form.select :sort, [['Ascending', 'asc'], ['Descending', 'desc']], { include_blank: true }, class: 'form-select me-2', style: 'width: 150px;' %>
        <%= form.submit 'Sort', class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <!-- Add pagination links -->
      <div class="pagination-links">
        <%= paginate @pokemons %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Types</h2>
      <ul class="list-group">
        <li class="list-group-item <%= 'active' if params[:type].nil? || params[:type] == 'All' %>">
          <%= link_to 'All', pokemons_path %>
        </li>
        <% @types.each do |type| %>
          <li class="list-group-item <%= 'active' if @type && @type.name == type.name %>">
            <%= link_to type.name, pokemons_path(type: type.name) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Pokémon List</h2>
      <% if @type %>
        <h4 class="text-muted" style="font-size: 1rem;">Type: <%= @type.name %></h4>
      <% end %>
      <div class="row">
        <% @pokemons.each do |pokemon| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <%= link_to image_tag(pokemon.sprite, class: 'card-img-top'), pokemon_path(pokemon) %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to pokemon.species, pokemon_path(pokemon) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
