<h1 class="text-center my-4">Pokémon--Hub</h1>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with url: root_path, method: :get, local: true, class: 'd-flex' do |form| %>
        <%= form.text_field :search, class: 'form-control me-2', placeholder: 'Search Pokémon...' %>
        <%= form.submit 'Search', class: 'btn btn-outline-success' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Categories</h2>
      <ul class="list-group">
        <% @types.each do |type| %>
          <li class="list-group-item"><%= link_to type.name, type_pokemons_path(type: type.name) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Pokémon List</h2>
      <div class="row">
        <% @pokemons.each do |pokemon| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <%= link_to image_tag(pokemon.sprite, class: 'card-img-top'), pokemon_path(pokemon) %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to pokemon.species, pokemon_path(pokemon) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
