<!-- app/views/pokemons/show.html.erb -->
<h1><%= @pokemon.species %></h1>
<p>Height: <%= @pokemon.height %> m</p>
<p>Weight: <%= @pokemon.weight %> kg</p>
<p>Abilities: <%= @pokemon.abilities %></p>
<%= image_tag @pokemon.sprite %>
